<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MongoDbBlog</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InitialisationServlet</display-name>
    <servlet-name>InitialisationServlet</servlet-name>
    <servlet-class>initialisation.InitialisationServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitialisationServlet</servlet-name>
    <url-pattern>/InitialisationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>action.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginProcess</display-name>
    <servlet-name>LoginProcess</servlet-name>
    <servlet-class>login.LoginProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginProcess</servlet-name>
    <url-pattern>/LoginProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewArticleByTagName</display-name>
    <servlet-name>ViewArticleByTagName</servlet-name>
    <servlet-class>action.ViewArticleByTagName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewArticleByTagName</servlet-name>
    <url-pattern>/ViewArticleByTagName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewArticleListByTagName</display-name>
    <servlet-name>ViewArticleListByTagName</servlet-name>
    <servlet-class>action.ViewArticleListByTagName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewArticleListByTagName</servlet-name>
    <url-pattern>/ViewArticleListByTagName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPostsListByTagName</display-name>
    <servlet-name>ViewPostsListByTagName</servlet-name>
    <servlet-class>action.ViewPostsListByTagName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPostsListByTagName</servlet-name>
    <url-pattern>/ViewPostsListByTagName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>logout.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewPost</display-name>
    <servlet-name>AddNewPost</servlet-name>
    <servlet-class>action.AddNewPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewPost</servlet-name>
    <url-pattern>/AddNewPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPostById</display-name>
    <servlet-name>GetPostById</servlet-name>
    <servlet-class>action.GetPostById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPostById</servlet-name>
    <url-pattern>/GetPostById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddComment</display-name>
    <servlet-name>AddComment</servlet-name>
    <servlet-class>action.AddComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComment</servlet-name>
    <url-pattern>/AddComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateUserName</display-name>
    <servlet-name>ValidateUserName</servlet-name>
    <servlet-class>validation.ValidateUserName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateUserName</servlet-name>
    <url-pattern>/ValidateUserName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateUserNameAndEMail</display-name>
    <servlet-name>ValidateUserNameAndEMail</servlet-name>
    <servlet-class>validation.ValidateUserNameAndEMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateUserNameAndEMail</servlet-name>
    <url-pattern>/ValidateUserNameAndEMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewUser</display-name>
    <servlet-name>NewUser</servlet-name>
    <servlet-class>action.NewUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewUser</servlet-name>
    <url-pattern>/NewUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePost</display-name>
    <servlet-name>DeletePost</servlet-name>
    <servlet-class>action.DeletePost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePost</servlet-name>
    <url-pattern>/DeletePost</url-pattern>
  </servlet-mapping>
</web-app>